* {	
margin: 0 auto; 
color:#FFF;
}

body {
	color:#FFF;
	font-size: 15px; /*fuente titulo*/
	font-family: Tahoma, Verdana, Sans-Serif, Arial;
}
/*
div#contenedor { width: 80%; marlogin-pagegin: 20px auto; }
div#contenedor a { color:#FFF; text-decoration: none; }
	div#contenedor a:hover { color: #FFF; background: #FF0000; }
	
ul#menu_arbol ul {
		margin-left:30px;
		color:#666
	
	}
	
ul#menu_arbol  {
		margin-left:200px;		
	}


ul#menu_arbol ul li {
		font: .74em Tahoma, Verdana, Sans-Serif, Arial;
		font-size: 14px;
		
}
#hijo1_1, #hijo2_1,#hijo3_1,#hijo4_1, #hijo5_1 {
		padding: 0 19px;
		background: url(../../ALFA/ALFA_2/images/pdf.gif) no-repeat;
}

#hijo5_2 {
		padding: 0 19px;
		background: url(../../ALFA/ALFA_2/images/excel.gif) no-repeat;
}
#hijo5_3 {
		padding: 0 19px;
		background: url(../../ALFA/ALFA_2/images/correo.gif) no-repeat;
}
*/
p{
	font-size: 14px; /*tamaño fuente texto*/
	color:#666;
	margin: 30px;
	margin-top:20px;
	text-align:center;
		
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: 360px;
	margin: 0 auto;
	padding-top: 5%;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 35px;
	padding-bottom: 35px;
	padding-left: 35px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color:#666;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#b8b7b5;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:#636060;
} 
.form .message {
  margin: 10px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #FF0000;
}
body {
  background: #FFFFFF; /* fallback for old browsers fondo azul*/
  background: -webkit-linear-gradient(right, #FFFFFF, #FFFFFF);
  background: -moz-linear-gradient(right, #FFFFFF, #FFFFFF);
  background: -o-linear-gradient(right, #FFFFFF,#FFFFFF);
  background: linear-gradient(to left, #FFFFFF, #FFFFFF);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/*--------------------------------------------------------------------------------*/
/* div.nav, div.article, div.nav ul li a,div.figure{
	/* Applying CSS3 rounded corners: */
/*	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
*/

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

div.article{
	background-color:#CFCFCF;
	padding:10px;
	margin-right: 0;
	margin-bottom: 3em;
	margin-left: 0;
	margin-top:-1em;

}

div.figure{
	border:3px solid #142830;
	float:right;
	height:250px;
	margin-left:15px;
	overflow:hidden;
	width:400px;
}



div.figure img{
	margin-left:-60px;
}

div.menu {
	width:200px;
	float: left;
	display: inline-block;
	display: table-cell;
	margin-top:5px;
	position: absolute;
	left: -11px;
	top: 66px;
	height: 174px;
}
 
div.login-page{
	float: left;
	display: inline-block;
	display: table-cell;
	position: absolute;
	left: 50%; /*(100%-60%)/2*/
	top: 65px;
}

div.imglog{
	float: left;
	display: inline-block;
	display: table-cell;
	position: absolute;
	left: 10%; /*(100%-60%)/2*/
	top: 167px;
	width:490px;
	height:268px;
 
}

div.titu{
 color:#000;
}
/* Footer styling: */

#piepag{
	font-size:12px;
	margin-top:34%;
	background:#000000;
    padding:5px;
}
